<!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->

<svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <path id="love_ic" d="M1664 596q0-81-21.5-143t-55-98.5-81.5-59.5-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64-112-25.5-98 8-94 31-81.5 59.5-55 98.5-21.5 143q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344z"/>
  <path id="love_ic_fill" fill="#f52626" d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/>
  <path id="play_ic_circle" fill="#fff" d="M1576 927l-1328 738q-23 13-39.5 3t-16.5-36v-1472q0-26 16.5-36t39.5 3l1328 738q23 13 23 31t-23 31z"/>
  <path id="close_ic" d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/>
  <path id="chevron_left" d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"/>
  <path id="chevron_right" d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"/>
  <path id="plus-square" d="M1344 800v64q0 14-9 23t-23 9h-352v352q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-352h-352q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h352v-352q0-14 9-23t23-9h64q14 0 23 9t9 23v352h352q14 0 23 9t9 23zm128 448v-832q0-66-47-113t-113-47h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113zm128-832v832q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q119 0 203.5 84.5t84.5 203.5z"/>
  <path id="share_post" d="M 18 2 C 16.343146 2 15 3.3431458 15 5 C 15 5.1963259 15.026495 5.3766961 15.0625 5.5625 L 7.9375 9.71875 C 7.4141653 9.2738436 6.7407113 9 6 9 C 4.3431458 9 3 10.343146 3 12 C 3 13.656854 4.3431458 15 6 15 C 6.7407113 15 7.4141653 14.726156 7.9375 14.28125 L 15.0625 18.4375 C 15.026495 18.623304 15 18.803674 15 19 C 15 20.656854 16.343146 22 18 22 C 19.656854 22 21 20.656854 21 19 C 21 17.343146 19.656854 16 18 16 C 17.259289 16 16.585835 16.273844 16.0625 16.71875 L 8.9375 12.5625 C 8.9735045 12.376696 9 12.196326 9 12 C 9 11.803674 8.9735045 11.623304 8.9375 11.4375 L 16.0625 7.28125 C 16.585835 7.7261564 17.259289 8 18 8 C 19.656854 8 21 6.6568542 21 5 C 21 3.3431458 19.656854 2 18 2 z"/>
  <path id="upload_ic" fill="#529cf7" d="M1216 864q0-14-9-23l-352-352q-9-9-23-9t-23 9l-351 351q-10 12-10 24 0 14 9 23t23 9h224v352q0 13 9.5 22.5t22.5 9.5h192q13 0 22.5-9.5t9.5-22.5v-352h224q13 0 22.5-9.5t9.5-22.5zm640 288q0 159-112.5 271.5t-271.5 112.5h-1088q-185 0-316.5-131.5t-131.5-316.5q0-130 70-240t188-165q-2-30-2-43 0-212 150-362t362-150q156 0 285.5 87t188.5 231q71-62 166-62 106 0 181 75t75 181q0 76-41 138 130 31 213.5 135.5t83.5 238.5z"/>
<path id="edit_svg" d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/>
<path id="play" d="M1576 927l-1328 738q-23 13-39.5 3t-16.5-36v-1472q0-26 16.5-36t39.5 3l1328 738q23 13 23 31t-23 31z"/>
<path id="stop" d="M1664 192v1408q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-1408q0-26 19-45t45-19h1408q26 0 45 19t19 45z"/>
  </svg>

<post id="inflater_post" style="display:none;">

  <post-header>
    <a class="username" href="/user/username"></a>
    <a class="post_location" href="/location/rasnov"></a>

  </post-header>

  <post-content>
  </post-content>

  <post-action>
    <like-holder>
      <a href="#" class="like_post">
        <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <use id="love_ic" xlink:href="#love_ic" />
      </svg>
      </a>
      <l-c></l-c>
  </like-holder>
  <comment-input-holder>
    <input class="input-comment" type="text" name="comment" placeholder="Say what you feel about this.." >
  </comment-input-holder>
  <share-post-holder>
    <a href="#" class="share_post">
      <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <use id="share_post" xlink:href="#share_post" />
    </svg>


    </a>
</share-post-holder>

    <!--
  <add-list-holder>
    <a href="#" class="add_to_trip">
      <svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <use id="plus-square" xlink:href="#plus-square" />
    </svg>
    </a>
</add-list-holder>
    <a class="action-item popup" data-id="camp_code" data-popup="camp">
      <img src="/static_img/camp.png" width=20 height=21 />
    </a>
  -->
  </post-action>

</post>
