<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head_content.ejs %>
    <style>
    #business_table{
      margin-top:30px;
    }
    #add_business{
      margin-bottom:10px;
    }
    </style>
  </head>

  <body>

    <div class="container">

      <% include parts/navbar.ejs %>



        <div class="row col-md-10 col-md-offset-1 custyle" id="business_table">
        <table class="table table-striped custab">
        <thead>
        <a id="add_business" href="/business/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new business</a>
            <tr>
                <th>Nr.crt.</th>
                <th>Name</th>
                <th>Admin username</th>
                <th>Short Description</th>
                <th>Logo</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <% include ./provider/table_business.ejs %>


        </table>
        </div>


    </div> <!-- /container -->



          <% include parts/scripts.ejs %>
  </body>
</html>
