<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head_content.ejs %>
    <style>
    #dishes_table{
      margin-top:30px;
    }
    #add_dishes{
      margin-bottom:10px;
    }
    #dish_filter{

    width: 314px;
    }
    </style>
  </head>

  <body>

    <div class="container">

      <% include parts/navbar.ejs %>



        <div class="row col-md-10 col-md-offset-1 custyle" id="dishes_table">
          <div class="action_table">
                      <div class="input-group">
                          <input id="dish_filter" type="text" class="form-control" placeholder="Introduceti denumirea felului de mancare." name="fel_mancare">
                      </div>

          <a id="add_dishes" href="/dishes/save" class="btn btn-success btn-xs pull-right"> Salveaza lista</a>
          </div>
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Meniu</th>
                <th>Nume</th>
                <th>Categorie</th>
                <th>Fotografie</th>
            </tr>
        </thead>
        <% include ./provider/table_menu_dishes.ejs %>



        </table>
        </div>


    </div> <!-- /container -->



          <% include parts/scripts.ejs %>
          <script>
          var todayMenu = [];
          $(function(){
            $(".checkbox_menu:checkbox:checked").each(function(index,elm){
              todayMenu.push($(elm).data("id"));
            });
            $(".checkbox_menu:checkbox").change(function(){
              if($(this).is(':checked')){
                todayMenu.push($(this).data("id"));
              }else{

                  var index = todayMenu.indexOf($(this).data("id"));
                  if (index >= 0) {
                    todayMenu.splice( index, 1 );
                  }
              }
            })
          });
          function show_cats(elm){
            var r = "";
            if(elm.categories!=null) elm.categories.forEach(function(ee){
              r+="<div class=\"cat_btn\">"+ee.name+"</div>";
          })
          return r;

          }
          $('input#dish_filter').keyup(function() {
            $.get( "/dishes/filter?filter="+encodeURIComponent($(this).val()), function( data ) {
              if(data){
                var tbody = $("tbody#table_menu_dish");
                tbody.empty();
                data.forEach(function(elm){
                    tbody.append("<tr>\
                        <td><input class=\"checkbox_menu\" type=\"checkbox\" "+(elm.is_selected?"checked":"")+" data-id=\""+elm._id+"\"></td>\
                        <td>"+elm.name+"</td>\
                        <td>"+show_cats(elm)+"</td>\
                        <td>\
                          <img class=\"poi_logo\" src=\""+elm.cdn_logo+"\"/></td>\
                    </tr>");
                })
              }
              });
          });
          $("#add_dishes").click(function(e){
            e.preventDefault();
            $.post( "/dish/updateMenu", {todayMenu:todayMenu})
              .done(function( data ) {
                alert( data );
              });
          })
          </script>
  </body>
</html>
