<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head_content.ejs %>
    <style>
    #post_table{
      margin-top:30px;
    }
    #add_post{
      margin-bottom:10px;
    }
    </style>
  </head>

  <body>

    <div class="container">

      <% include parts/navbar.ejs %>


        <div class="row col-md-10 col-md-offset-1 custyle" id="post_table">
        <table class="table table-striped custab">
        <thead>
        <a id="add_post" href="/post/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new post</a>
            <tr>
                <th>Nr.crt.</th>
                <th>Admin username</th>
                <th>Content</th>
                <th>Poi name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <% include ./provider/table_posts.ejs %>


        </table>
        </div>


    </div> <!-- /container -->



          <% include parts/scripts.ejs %>
  </body>
</html>
