<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head_content.ejs %>
        <style>
            #add_user {
                margin-left
            }
        </style>
</head>

<body>

    <div class="container">

        <% include parts/navbar.ejs %>


<% var edit = typeof edit_user !='undefined'%>

            <div class="container">
                <div class="page-header">
                    <h3><%=edit_user.displayName %>'s Trophey</h3>
                </div>

                <div class="row col-md-10 col-md-offset-1 custyle" id="tropheys_table">
                <table class="table table-striped custab">
                <thead>
                <a id="add_trophey" href="/users/add/<%=edit_user._id%>/trophey/" class="btn btn-success btn-xs pull-right"><b>+</b> Add new trophey</a>
                    <tr>
                        <th>Nr.crt.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Picture</th>
                        <th>Value</th>
                        <th>Business name</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <% include ./provider/table_trophey.ejs %>


                </table>
                </div>

            </div>



    </div>
    <!-- /container -->



    <% include parts/scripts.ejs %>
</body>

</html>
