
*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 883px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100.1%;
    font-size: 15px;
}
header {
    padding: 19px 35px;
    margin-bottom: 20px;
    margin-top: 17px;
}
#home_btn {
    text-decoration: none;
    color: #f59b3d;
    font-size: 19px;
    font-weight: bold;
    border-bottom-color:transparent!important;
}
a#menu_link {
    color: #b7b7b7;
    text-decoration: none;
    line-height: 29px;
}
a#profile_btn,a#home_link {
    color: #b7b7b7;
    text-decoration: none;
    line-height: 29px;
    margin: 0 14px;
}
header>a{
  border-bottom:2px solid transparent;
  -webkit-transition : all 100ms ease-in;
-moz-transition : all 100ms ease-in;
-o-transition : all 100ms ease-in;
transition : all 100ms ease-in;
}
header>div>a:hover,header>div>a.active{
  border-bottom:2px solid #f38814;
  color:#f38814!important;
}
#home_jumb_l>h2,#home_jumb_l>h4{
  font-weight: bold;
  color: #393939;
}
#home_jumb_l{
    padding-left: 112px;
}
.btn{
  text-decoration: none;
background: #f48b1c;
padding: 6px 13px;
color: #fff;
font-size: 73%;
text-transform: uppercase;
}
.btn:hover{

    background: #ed881e;
}
.col-md-6{
  width:50%;
  float:left;
}
.section{
  margin-top: 72px;
  float: left;
  width: 100%;
    padding-left: 66px;
    padding-right: 66px;
}
.section.grey{
    border-top: 1px solid #f6f6f6;
    padding-top: 36px;
}
.footer{
  margin-bottom: 40px;
float: left;
width: 100%;
text-align: center;
margin-top: 61px;
color: grey;
font-size: 80%;
}
@media screen and (max-width: 690px) {
    .section{

    padding-left: 12px;
    padding-right: 12px;
    }
    #home_jumb_l{
      padding-left:60px;
    }
}

@media screen and (max-width: 380px) {
  #home_jumb_l {
    padding-left: 26px;
}
#home_jumb_l h2{

    margin-top: 19px!important;
}
.menu_wrapper{
  width:100%;
    margin-top: 20px;
    text-align: center;
}
.menu_wrapper>a{
  float:none!important;
}
#install_app {
    width: 100%;
    padding-top: 5px!important;
    text-align: center;
}
#phone_wrapper{
    width: 100%;
}
.section.grey{
  padding-top:0px;
}
}

@media screen and (max-width: 300px) {
.menu_wrapper{
    padding-top: 42px;
    float: none!important;
margin: 0 auto;
width: 53px;
}
.menu_wrapper>a{
  float: left!important;
  margin: 0 auto!important;
  padding: 0;
  border-left: 0;
  border-right: 0;
  clear: left;
}
#home_btn{
  float: left;
width: 100%;
text-align: center;
}
}
.menu_container{
    margin-top: 82px;
}
.dish_row{
    float: left;
    width: 100%;
    margin: 15px 0;
}
.dish_photo{
  max-width: 40%;
border-radius: 7px;
width: 147px;
height: 147px;
    margin: 0 24px 0 22px;
    float: left;
}
.dish_details{

}
h4.dish_name{
  padding-top: 5px;
margin-bottom: -6px;
}
ul.dish_cats{
  color: rgba(0, 0, 0, 0.63);
  font-size: 72%;
  font-weight: lighter;
  margin: 8px;
}
li.dish_cat{
  display: inline;
    margin-right: 4px;
}
.dish_price{
  float: right;
  margin-right: 13px;
  margin-top: -2px;
  font-size: 111%;
}
p.dish_description{
  max-width: 800px;
text-align: justify;
    font-size: 90%;
    margin-top: -1px;
}
span.dish_quant{
      font-weight: normal;
    font-size: 74%;
    color: grey;
    float: right;
    margin-top: 3px;

}
