<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head_content.ejs %>
    <style>
    body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
    </style>
  </head>

  <body>

    <div class="container">

      <% include parts/navbar.ejs %>


      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="error-template">
                      <h1>Oops! An error occurred</h1>
                      <pre class="error-details">
                          <% if(typeof error != 'undefined' && error !=null && typeof error.stack != 'undefined'){%><%=error.stack%><%}%>
                      </pre>
                      <pre class="reason-details">
                        <% if(typeof error != 'undefined' && error !=null && typeof error.errors != 'undefined'){%><%-JSON.stringify(error.errors, null, "\t")%><%}%>
                      </pre>
                      <div class="error-actions">
                          <a href="#" onclick="goBack()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                              Take Me Back </a><a href="mailtio:iosifnicolae2@gmail.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support.</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>


    </div> <!-- /container -->



          <% include parts/scripts.ejs %>
          <script>
function goBack() {
    window.history.back();
}
</script>
  </body>
</html>
