<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login| <%=config.websiteName%></title>
<style type="text/css">
label{
	width: 100%;
	float: left;
	margin-bottom: 6px;
	margin-left: 3px;
	font-size: 15px;
}
input{
	border: 1px solid #808080;
padding: 8px 16px;
background: #fefefe;
width: 100%;
    margin-bottom: 15px;

		    box-sizing: border-box;
}
#submit:hover{
	    background-color: #ddd;
			cursor:pointer;
    border-color: #b8b8b8;
}
#sign_up,#reset{
text-decoration: none;
    color: #1515e1;
}
</style>
</head>

<body>
	<form  method="post" style="width: 233px;max-width:100%;
    margin: 0 auto;">
		<h1 style="text-align: center;    font-size: 25px;
    color: #1471ba;
    margin-top: 120px;"><%=config.websiteName%></h1>
		<div>
		<label style="margin-top: 22px;">Username</label>
		<input type="text" name="username"/><br/>
		</div>
		<div>
		<label>Password</label>
		<input type="password" name="password"/>
		</div>
		<div>
		<input id="submit" type="submit" value="Submit"/>
		</div>
		<div style="font-size:13px;">
			<p style="margin-bottom: 3px;">Don't have an account?<a id="sign_up" style="margin-left: 4px;"href="/signup">Signup</a>.</p>

			<a id="reset" href="/reset_password">Forgot password?</a>
		</div>
	</form>
</body>

</html>
