<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head_content.ejs %>
    <style>
    #users_table{
      margin-top:30px;
    }
    #add_users{
      margin-bottom:10px;
    }
    </style>
  </head>

  <body>

    <div class="container">

      <% include parts/navbar.ejs %>



        <div class="row col-md-10 col-md-offset-1 custyle" id="users_table">
        <table class="table table-striped custab">
        <thead>
        <a id="add_users" href="/users/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new user</a>
            <tr>
                <th>Nr.crt.</th>
                <th>Username</th>
                <th>Display Name</th>
                <th>Birthday</th>
                <th>Email</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <% include ./provider/table_users.ejs %>


        </table>
        </div>


    </div> <!-- /container -->



          <% include parts/scripts.ejs %>
  </body>
</html>
