
*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 883px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100.1%;
    font-size: 15px;
}
header {
    padding: 19px 35px;
    margin-bottom: 20px;
    margin-top: 17px;
}
#home_btn {
    text-decoration: none;
    color: #f59b3d;
    font-size: 19px;
    font-weight: bold;
    border-bottom-color:transparent!important;
}
a#menu_link {
    color: #b7b7b7;
    text-decoration: none;
    line-height: 29px;
}
a#profile_btn,a#home_link {
    color: #b7b7b7;
    text-decoration: none;
    line-height: 29px;
    margin: 0 14px;
}
header>a{
  border-bottom:2px solid transparent;
  -webkit-transition : all 100ms ease-in;
-moz-transition : all 100ms ease-in;
-o-transition : all 100ms ease-in;
transition : all 100ms ease-in;
}
header>div>a:hover,header>div>a.active{
  border-bottom:2px solid #f38814;
  color:#f38814!important;
}
#home_jumb_l>h2,#home_jumb_l>h4{
  font-weight: bold;
  color: #393939;
}
#home_jumb_l{
    padding-left: 112px;
}
.btn{
  text-decoration: none;
background: #f48b1c;
padding: 6px 13px;
color: #fff;
font-size: 73%;
text-transform: uppercase;
}
.btn:hover{

    background: #ed881e;
}
.col-md-6{
  width:50%;
  float:left;
}
.section{
  margin-top: 72px;
  float: left;
  width: 100%;
    padding-left: 66px;
    padding-right: 66px;
}
.section.grey{
    border-top: 1px solid #f6f6f6;
    padding-top: 36px;
}
.footer{
  margin-bottom: 40px;
width: 100%;
text-align: center;
margin-top: 61px;
color: grey;
font-size: 80%;
    height: 44px;
}
@media screen and (max-width: 690px) {
    .section{

    padding-left: 12px;
    padding-right: 12px;
    }
    #home_jumb_l{
      padding-left:60px;
    }
    .angajari_page #home_jumb_l {
      width: 100%!important;
          padding: 0 30px;
    }
    .angajari_picture {
      display: none;
    }

    .dish_row {
      border-top: 1px solid black;
      padding-top: 36px;
    }

}

@media screen and (max-width: 380px) {
  #home_jumb_l {
    padding-left: 26px;
}
#home_jumb_l h2{

    margin-top: 19px!important;
}
.menu_wrapper{
  width:100%;
    margin-top: 20px;
    text-align: center;
}
.menu_wrapper>a{
  float:none!important;
}
#install_app {
    width: 100%;
    padding-top: 5px!important;
    text-align: center;
}
#phone_wrapper{
    width: 100%;
}
.section.grey{
  padding-top:0px;
}
}

@media screen and (max-width: 300px) {
.menu_wrapper{
    padding-top: 42px;
    float: none!important;
margin: 0 auto;
width: 53px;
}
.menu_wrapper>a{
  margin: 0 5px!important;
  padding: 0;
  border-left: 0;
  border-right: 0;
  clear: left;
}
#home_btn{
  float: left;
width: 100%;
text-align: center;
}
}
.menu_container{
    margin-top: 82px;
}
.dish_row{
    float: left;
    width: 100%;
    margin: 15px 0;
}
.dish_photo{
max-width: 130%;
max-height: 100%;
min-width:100%;
min-height: 100%;
}
.dish_details{

}
h4.dish_name{
  margin-top:2px;
margin-bottom: -5px;
font-size: 1.3rem;
}
ul.dish_cats{
  color: rgba(0, 0, 0, 0.63);
  font-size: 72%;
  font-weight: lighter;
  margin: 8px;
}
li.dish_cat{
  display: inline;
    margin-right: 4px;
}
.dish_price{
  margin-top: -2px;
  font-size: 0.7rem;
}
.dish_description{
  max-width: 52%;
  text-align: justify;
  font-size: 0.9rem;
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 79px;
}
span.dish_quant{
      font-weight: normal;
    font-size: 80%;
    margin-top: 3px;

}

#home_btn {
  width: 100%;
text-align: center;
position: relative;
float: left;
}
.menu_page #home_btn {
  width: 100%;
position: relative;
float: left;
text-align: left!important;
height: 0!important;
}
#home_btn > img {
  width: 111px;
}
@media screen and (max-width: 600px) {
  .hide_mobile {
    display: none;
  }
  #home_jumb_l {
    width: 99%!important;
    text-align: center;
    padding: 0;
  }
  .image_homepage {
    width: 100%!important;
    padding: 0!important;
  }
  .image_homepage > img{
    margin-top: 32px;
    width: 27vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .dish_details {
    width: 100%;
    padding: 5px 29px;
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .dish_cats {
        padding-left: 0;
  }
  .dish_description {
    max-width: 100%;
    height: auto;
  }
  .dish_photo_wrapper {
    max-width: 200px!important;
margin-left: auto!important;
margin-right: auto!important;
float: none!important;
margin-bottom: 12px!important;
  }
  .dish_price {
    margin-top: 11px;
  }
  .menu_page .menu_wrapper {
    float: right;
    margin-top: 71px;
    margin-bottom: 19px;
  }
  .menu_page #home_btn {
    text-align: center!important;
    margin-top: -30px!important;
  }
}
.menu_wrapper {
  text-align: center;
width: 100%;
margin-top: 20px;
}
html, body {
    height: 100%;
        font-size: 16px;

    overflow: hidden;
}
.page_wrapper {
  min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -210px;
    background: white;
}
.footer > p {
      margin-bottom: 15px;
}
.menu_wrapper>a {
    margin: 0 7px!important;
}

.btn_ang {
  background: #3F51B5;
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  margin-bottom: 35px;
  font-size: 1.4rem;
}
.dish_photo_wrapper {
  max-width: 40%;
  border-radius: 7px;
  width: 273px;
  height: 158px;
  margin: 0 24px 0 22px;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_cantina {
  text-align: center;
width: 100%;
font-size: 1.4rem;
font-weight: bold;
margin-top: 30px;
}
.admin_btns {
  height: 121px;
  width: 60%;
  float: right;
  margin-top: 15px;
}

a.admin_dish_btn {
  width: 35%;
  float: left;
  height: 79%;
  text-decoration: none;
  line-height: 98px;
  margin: 5%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 9px;
    color: #fff;
}
.disable_btn {
  background: #B71C1C;
}
.enable_btn {
  background: #8BC34A;
}
.admin_cantina_page .dish_row {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px dotted grey;
  padding-bottom: 30px;
  padding-top: 30px;
}
.admin_cantina_page .dish_row:nth-child(1) {
border-top: 1px dotted grey;

}
.admin_cantina_page .dish_name {
  float: right;
width: 61%;
text-align: center;
box-sizing: border-box;
padding-right: 4%;
}
.admin_cantina_page .menu_container {
  margin-top: 30px;
}
.title_admin_cantina {
  font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

}
.disabled {
  pointer-events: none;
  background: #efefef;
}
