<!DOCTYPE html>
<html class="angajari_page">
<head>
<meta charset="UTF-8">
<title><%=config.websiteName%></title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
var user=null, pois,posts,update_feed= null,update_feed_ok = false,images_cdn,posts_users;
</script>
<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <div  class="page_wrapper">
<header>
  <a id="home_btn" href="/"><%=config.websiteName%></a>
  <div style="float:right;" class="menu_wrapper">
  <a id="home_link" href="/" >Acasa</a>
  <a id="menu_link" href="/meniu" >Meniu</a>
  <a id="menu_link" href="/angajari" class="active">Angajari</a>
</div>
</header>

<div style="width: 100%;float: left;    margin-top: 52px;    margin-bottom: 17px;">
<div id="home_jumb_l" style="width: 70%;float: left;">
  <h3 style="margin-top: 0px;font-size: 130%;margin-bottom: 0px;">Cantina recrutează!</h3>
  <h2 style="margin-top: 90px;font-size: 102%;margin-bottom: 0px;">Reduceți timpul petrecut la coada cantinei!</h2>
  <h2 style="margin-top: 30px;font-size: 102%;margin-bottom: 0px;">Cunoasteți pe cineva care caută un loc de munca stabil, într-un mediu curat și cu un salariu atractiv?</h2>
  <h2 style="margin-top: 10px;font-size: 102%;margin-bottom: 0px;">Cantina e in căutare de <u>3 muncitori necalificați</u> cu studii școală generală, cu angajare pe perioadă nedeterminată</h2>
  <h2 style="margin-top: 40px;font-size: 102%;margin-bottom: 0px;">PS.Daca cunoasteți o persoana care este interesata de acest post va invitam sa impartasiti aceasta pagina cu ea.</h2>

<br>

</div>
<div class="angajari_picture" style=" width: 30%;
    float: left;
    padding-right: 20px;
    overflow: hidden;
    max-width: 248px;
    max-height: 300px;
    border-radius: 4px;
">
  <img width="264px" height="338" src="static/static_img/ang_img.jpg" alt="Food image">
</div>
</div>
<div style="float:left;width:100%;    text-align: center;    margin: 35px 0;">
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd6m4a9aqFmU-gD0JAPzn3sTM6SgkTJpswjlERpdM71xsbCFg/viewform?embedded=true" class="btn_ang"> Aplică aici</a>
</div>
</div>

<div class="footer">
  <p>Copyright © Unitbv 2018. All Rights Reserved </p>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112003984-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112003984-1');
</script>
</body>
</html>
