<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=config.websiteName%></title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
var user=null, pois,posts,update_feed= null,update_feed_ok = false,images_cdn,posts_users;
function getResource(url,success,error) {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
           if (xmlhttp.status == 200) {
              success(JSON.parse(xmlhttp.responseText));
           }
           else{
              error(xmlhttp);
           }
        }
    };

    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}
getResource("/api/informations",function(data){
  images_cdn = data.images_cdn;
  user = data.user;
  pois = data.pois;
  posts = data.posts;
  posts_users = data.posts_users;
  if(update_feed&&template_post!=null)update_feed();

},function(err){
  console.log("errr",err);
  //TODO
})
</script>

<link rel="stylesheet" type="text/css" href="/static/css/client.css" />
</head>

<body>
<header>
  <a id="home_btn" href="/"><%=config.websiteName%></a>
  <a id="profile_btn" href="/profile"></a>
  <a id="discover" href="/discover">Discover</a>
</header>



<insert-post-wrapper>
  <div id="upload_post">
    <button>
      <p>Upload Photos</p>
      <div class="fill"></div>
      <div class="fa fa-check"></div>


    </button>
    <input id="post_media_input" type="file" name="post_media" accept="image/*,video/*" style="display:none;" multiple>
  </div>
</insert-post-wrapper>

  <% include ../parts/imp_html_home %>
  <% include ../parts/load_html_later %>

<post-container id="post-container">
</post-container>

<popups >
  <popup id="camp">
    Aceasta zona include si o zona de campare.
  </popup>
</popups>

<% include ../parts/modal_dialogs_home %>


<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/client.js"></script>
</body>
</html>
