<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title><%=config.websiteName%></title>
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <script type="text/javascript">
         var user=null, pois,posts,update_feed= null,update_feed_ok = false,images_cdn,posts_users;
      </script>
      <link href="/static/css/style.css" rel="stylesheet">
      <style>
         a, a:visited {
         color: #ff7a32;
         font-size: 1.1rem;
         }
         html {
         line-height: 1.4rem;
         }
      </style>
   </head>
   <body>
      <div  class="page_wrapper">
         <header>
            <a id="home_btn" href="/"><%=config.websiteName%></a>
            <div style="float:right;" class="menu_wrapper">
               <a id="home_link" href="/" class="active">Acasa</a>
               <a id="menu_link" href="/meniu" >Meniu</a>
               <a id="menu_link" href="https://www.messenger.com/t/1733098316985352">Contact</a>
            </div>
         </header>
         <div style="width: 100%;float: left;margin-top: 9vh;margin-bottom: 17px;">
            <div id="home_jumb_l" style="width: 50%;float: left;">
               <h2 style="    margin-top: 73px;
                  font-size: 109%;
                  margin-bottom: 14px;
                  text-align: center;">Aplicatia Android <b>"Cantina Memo"</b></h2>
               <a style="height: 62px;
                  text-align: center;
                  width: 100%;
                  float: left;
                  margin-top: 10px;"href='https://play.google.com/store/apps/details?id=ro.unitbv.cantina&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' style="    height: 66px;"src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
               <p style="    margin-top: 78px;
                  margin-bottom: 20px;
                  width: 100%;
                  text-align: center;">sau</p>
               <div style="float:left; width:100%; text-align:center">
                  <a href="/meniu" class="btn" style="
                     text-align: center;
                     padding: 10px 19px;">Acceseaza meniul online</a>
               </div>
            </div>
            <div style="width: 50%;float: left;padding-right: 20px;" class="image_homepage" >
               <img width="354px" src="/static/static_img/home_img.jpg" alt="Cantina Memo Android app icon" style="max-width: 100%;"/>
            </div>
         </div>
         <div class="cantina_stats">
           Numarul aproximativ al studentilor de la cantina: <span id="number_of_students"><%=average_number_of_clients%></span> studenti.
         </div>
         <div id="source_code" class="section grey" style="margin-bottom: 50px;">
            <h2>Source code</h2>
            <a href="https://github.com/iosifnicolae2/unitbv_backend" style="color: #ff7a32;
               font-size: 1.1rem;">Backend server</a></br>
            <a href="https://github.com/iosifnicolae2/unitbv_android" style="color: #ff7a32;
               font-size: 1.1rem;">Android application</a></br></br>
            <h2> Prezentare Power Point</h2>
            <div class="canva-embed" data-height-ratio="0.5625" data-design-id="DACtAQVYVdQ" style="padding:56.25% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div>
            <script async src="https://sdk.canva.com/v1/embed.js"></script>
            </br></br>
            <h2>Contact</h2>
            <div style="padding-left: 10px;">
               <h3 style="margin-bottom: -8px;">Cantina Memo</h3>
               </br>
               <div style="padding-left: 10px;">
                  Facebook: <a href="https://www.facebook.com/cantina.memo">cantina.memo</a></br>
                  str. Memorandului nr. 39, Brașov</br>
               </div>
               <h3 style="margin-bottom: -8px;">Contribuitori</h3>
               </br>
               <div style="padding-left: 10px;">
                  Marcu Cezar - <a href="mailto:xcezarmarcu97@yahoo.com" target="_top">xcezarmarcu97@yahoo.com</a></br>
                  Ovejdanie Gabriel - <a href="mailto:gaby.ove97@yahoo.com" target="_top">gaby.ove97@yahoo.com</a></br>
                  Nicolae Iosif - <a href="mailto:gaby.ove97@yahoo.com" target="_top">iosifnicolae2@gmail.com</a></br>
               </div>
               </br></br></br>
            </div>
         </div>
         <!-- <div id="android_app" class="section grey" style="margin-bottom: 50px;">
            <div class="col-md-6" id="phone_wrapper">
              <img width="293px" style="max-width: 100%;"src="/static/static_img/home_screen.png" alt="Unitbv Android app"/>
            </div>
            <div class="col-md-6" style="padding-top: 54px;" id="install_app">
              <h3 style="font-weight: 700;margin-bottom: 8px;">
                Cantina Memo</h3>
              <p style="margin-top: 8px;font-size: 101%;"> Acceseaza meniul actualizat al Cantinei Memo de pe telefonul tau.</p>
              <a href="https://play.google.com/store/apps/details?id=ro.unitbv.cantina"><img style="    height: 68px;    margin-top: 31px;    margin-left: -8px;"src="/static/static_img/google-badge.png"></a>
            </div>
            </div> -->
      </div>
      <div class="footer">
         <p>Copyright © Unitbv 2018. All Rights Reserved </p>
      </div>
      <script src="/static/js/socket.io.js"></script>
      <script>
        var socket = io.connect();
        socket.on('update_menu', function (data) {
          location.reload();
        });
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112003984-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-112003984-1');
      </script>
   </body>
</html>
